<html>
<body>
<div>
<h1>hey!         you will transfer to target side after a few seconds √</h1>

    <div style="float: left">
        some bullshit advertise in left side !
    </div>

    <div style="float: right;" >
        some another bullshit advertise in right side !
    </div>
</div>
</body>
    <script>
    setTimeout(function(){


        window.location='http://www.media.ad';
    }, 3000);

</script>
</html>
